body{
    margin: 0;
    padding: 0;
}
.menu{
    display: flex;
    flex-direction: row;
}

.left{
    background-color: rgb(6, 170, 94);
    width: 600px;
}

#signUp{
    width: 552.95px;
    height: 552.95px;
}

#logo{
    padding-left: 15px;
    color: rgb(255, 255, 255);
    font-size: 34px;
    font-weight: 400;
    width: 614.4px;
    font-family: "Cal Sans", sans-serif;
}

.right{
    background: #1E2A38;
    width: 100%;
}

h1{
    display: flex;
    justify-content: left;
    align-items: center;
    padding-top: 60px;
    padding-left: 60px;
    color: rgb(255, 255, 255);
    font-size: 45px;
    font-weight: 50;
    width: 600x;
    font-family: "Cal Sans", sans-serif;
    margin-bottom: 100px;
}

#quote{
    margin-top: 0;
    margin-bottom: 1.3px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
}

input{
    background-color: transparent;
    border-bottom: 1px, black;
    border-top: none;
    border-left: none;
    border-right: none;
    font-family: "Cal Sans", sans-serif;
    font-size: 15px;
    font-weight: 50;
    color: white;
}

input:focus {
  outline: none;
  box-shadow: none;
  caret-color: white;
}


.leftside{
    display: flex;
    flex-direction: column;
    gap: 90px;
}

.signingup{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    gap: 250px;
    padding-left: 90px;
}

.rightside{
    display: flex;
    flex-direction: column;
    gap: 90px;
}

#btn-sub{
    background-color: rgb(6, 170, 94);
    color: white;
    font-family: "Raleway", sans-serif;
    width: 245px;
    height: 45px;
    font-size: 17px;
    font-weight: 500;
    border-radius: 5px;
    border: none;
    box-shadow: none;
}

.btn-text{
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    color: rgb(118, 118, 118);
}

.btn-text-highlight{
    color: rgb(6, 170, 94);
    font-weight: 500;
}

.btn{
    margin: 50px;
    margin-left: 0px;
    padding-left: 90px;
}